.article-container .html, body {
    overflow-x: hidden;
    overflow-y: auto;
}

.article-container {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

.article-container .article-date,
.article-container .article-title,
.article-container .article-content{
    color: #c7c7c7;
    padding: 1rem;
}

.article-section {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.section-subtitle {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    color: #333;
}

.article-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
}

.article-intro-text,
.article-content-block,
.section-subtitle
{
    color: #c7c7c7;
    padding: 1rem;
}

@media (min-width: 992px) {
    
    .article-container{
        width: 100%;
        flex-wrap: wrap;
        justify-items: center;
        align-items: center;
    }


    .article-container .article-header{
        width: 50%;
        height: 100%;
        align-self: center;
        justify-self: center;
    }

    .article-container .article-section {
        width: 50%;
        height: 100%;
        align-self: center;
        justify-self: center;
    }

}