@inject NavigationManager Nav

<nav id="mainNavbar" class="navbar navbar-expand-lg nav-background fixed-top">

    <div class="container-fluid position-relative">

        <!-- LOGO centrado -->
        <a href="/" class="navbar-brand position-absolute top-50 start-50 translate-middle">
            <img src="/imgs/bannerLogo.png" class="bannerLogo" />
        </a>

        <!-- BOTÓN MOBILE -->
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- MENU -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       data-bs-toggle="dropdown">
                        Lanzamientos
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/product/1">Infinite Football</a></li>
                        <li><a class="dropdown-item" href="/product/2">Artistas capaces</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/article/1">Articulo 1</a></li>
                    </ul>
                </li>

                @if(!IsHome){

                <li class="nav-item">
                    <a class="nav-link" href="/#about">Devs</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/#contacto">Contacto</a>
                </li>
                }

                <li class="nav-item">
                    <a class="nav-link" href="/game">Game</a>
                </li>

            </ul>
        </div>

    </div>
</nav>

@code {
    private bool IsHome => Nav.Uri.EndsWith("/");
}