.nav-background {
    background-color: #000;
    background-image: url("/imgs/bannerBackground2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bannerLogo {
    height: 40px;
}

/* Links */
.nav-link {
    color: #d7d7d7;
}

.nav-link:hover {
    color: white;
}

.nav-link.active {
    color: white;
}