@using MeteorWebApp.Models
@using MeteorWebApp.Services
@inject NavigationManager Nav
@inject ArticleService ArticleService
@inject ProductService ProductService

<nav id="mainNavbar" class="navbar navbar-expand-lg nav-background fixed-top">

    <div class="container-fluid position-relative">

        <!-- LOGO centrado -->
        @if(IsHome){
            <div class="navbar-brand position-absolute top-50 start-50 translate-middle">
            <img src="/imgs/bannerLogo.png" class="bannerLogo" />
            </div>
        }else{
            <a href="/" class="navbar-brand position-absolute top-50 start-50 translate-middle">
                <img src="/imgs/bannerLogo.png" class="bannerLogo" />
            </a>
        }

        <!-- BOTÓN MOBILE -->
        <button class="navbar-dark navbar-toggler "
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- MENU -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       data-bs-toggle="dropdown">
                        Lanzamientos
                    </a>

                    <ul class="dropdown-menu">
                        @* BUCLE DE LANZAMIENTOS (Productos) *@
                        @if (productos != null && productos.Any())
                        {
                            @foreach (var prod in productos)
                            {
                                <li><a class="dropdown-item" href="/product/@prod.Id">@prod.Title</a></li>
                            }
                        }

                        @* DIVISOR (solo se muestra si hay tanto productos como artículos) *@
                        @if (productos != null && productos.Any() && articulos != null && articulos.Any())
                        {
                            <li><hr class="dropdown-divider"></li>
                        }

                        @* BUCLE DE ARTÍCULOS *@
                        @if (articulos != null && articulos.Any())
                        {
                            @foreach (var article in articulos)
                            {
                                <li><a class="dropdown-item" href="/article/@article.Id">@article.Title</a></li>
                            }
                        }
                    </ul>
                </li>

                @if(!IsHome){

                <li class="nav-item">
                    <a class="nav-link" href="/#about">Devs</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/#contacto">Contacto</a>
                </li>
                }

            </ul>
        </div>

    </div>
</nav>

@code {
    private bool IsHome => Nav.Uri.EndsWith("/");

    private IEnumerable<ArticleModel> articulos = Array.Empty<ArticleModel>();
    private IEnumerable<ProductModel> productos = Array.Empty<ProductModel>();

    protected override void OnInitialized()
    {
        articulos = ArticleService.GetAll();
        productos = ProductService.GetAll(); 
    }
}