<!--FOOTER-->
        <footer class="contact-footer">
            <span class="footer-title">FOLLOW US</span>

            <div class="social-icons">
                <a href="https://www.instagram.com/meteor_craftwork" target="_blank" aria-label="Instagram">
                    <i class="bi bi-instagram"></i>
                </a>

                <a href="https://www.facebook.com/profile.php?id=61574530960294" target="_blank" aria-label="Facebook">
                    <i class="bi bi-facebook"></i>
                </a>

                <a href="https://www.linkedin.com/company/meteorcraftwork/?viewAsMember=true" target="_blank" aria-label="LinkedIn">
                    <i class="bi bi-linkedin"></i>
                </a>

                <a href="https://discord.gg/zTrww8pR" target="_blank" aria-label="Discord">
                    <i class="bi bi-discord"></i>
                </a>
                <a href="https://www.artstation.com/meteorcraftwork" target="_blank" aria-label="ArtStation" class="artstation-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                        <path d="M2.5 18.6l1.4 2.4h16.4l1.4-2.4H2.5zm9.7-15L7.2 15.2h9.6L12.2 3.6zm2.3 11.6l-2.3-4-2.3 4h4.6z" />
                    </svg>
                </a>
               
            </div>
        </footer>