/* home.css */

.home {
    margin-top: 0;
}

.home .row {
    margin-left: 0;
    margin-right: 0;
}

/* SNAP SYSTEM */
.home.snap-container {
    min-height: 100dvh;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-snap-type: none;
}

.home .snap-section {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
    scroll-margin-top: 5rem;
}

/* CAROUSEL */
.home .carousel{
    height: 65vh;
}

.home .carousel-control-prev-icon,
.home .carousel-control-next-icon
{
    background-color: #ffffff6a;
    border-radius: 1rem;
    width: 2.5rem;
    height: 2rem;
}

.home .carousel-inner,
.home .carousel-item {
    height: 100%;
    width: 100%;
}

.home .carousel-img-wrapper {
    height: 100%;
    overflow: hidden;
}

.home .carousel-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .carousel-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
}

/* CAPTION */
.home .custom-caption {
    width: 100%;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.85),
        rgba(0,0,0,0.6),
        rgba(0,0,0,0)
    );
    display: flex;
    justify-content: center;
    color: #c7c7c7;
}

.home .caption-content {
    max-width: 900px;
    padding: 1.5rem;
}

/* CARDS */

.home .card {
    background: transparent !important;
    border: none;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.home .card {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.home .card-img,
.home .card-body-text {
    width: 50%; 
}

.home .card-img img {
    width: 100%;
    height: auto;
}

.home .card-body-text,
.home .card-text title,
.home .card-text
{
    width: 100%;
    color: #c7c7c7;
    padding-left: 1rem;
}

.title{
    font-size: larger;
    font-weight: bolder;
}

.card-text{
    -webkit-text-stroke: 0.1px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*FORM*/

.home .form-inputs{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.home .form-label{
    color: #c7c7c7;
    font-size: larger;
}

.home .form-control{
    background: transparent;
    color: #c7c7c7;
}

.home .btn{
    margin-top: 2rem;
}



.home .card,
.home .card-body,
.home .card > .row,
.home .card > .row > [class*="col-"] {
    background: transparent;
    border: none;
    box-shadow: none;
}


/* TABLET */

@media (min-width: 768px) {
    
    .caption-content {
        padding: 4rem;
    }

    .home.snap-container {
    scroll-snap-type: y mandatory;
    }
}


/* DESKTOP */
@media (min-width: 1024px){
    
}