/* home.css */

.home {
    margin-top: 0;
}

.home .row {
    margin-left: 0;
    margin-right: 0;
}

/* SNAP SYSTEM */
.home.snap-container {
    min-height: 100dvh;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-snap-type: none;
}

.home .snap-section {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
    scroll-margin-top: 5rem;
}

/* CAROUSEL */
.home .carousel{
    height: 65vh;
}

.home .carousel-control-prev-icon,
.home .carousel-control-next-icon
{
    background-color: #fc000096;
    border-radius: 2rem;
    width: 3rem;
    height: 3rem;
}

.home .carousel-control-prev-icon:hover,
.home .carousel-control-next-icon:hover
{
    transform: scale(2.05);
    transition: 0.2s;
}

.home .carousel-inner,
.home .carousel-item {
    height: 100%;
    width: 100%;
}

.home .carousel-img-wrapper {
    height: 100%;
    overflow: hidden;
}

.home .carousel-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .carousel-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none; /* evita interferencias */
}

.home .carousel-item:hover .carousel-caption {
    opacity: 1;
    transform: translateY(0);
}

/* CAPTION */
.home .custom-caption {
    width: 100%;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.982),
        rgba(0, 0, 0, 0.798),
        rgba(0,0,0,0)
    );
    display: flex;
    justify-content: center;
    color: #c7c7c7;
}

.home .caption-content {
    max-width: 900px;
    padding: 1.5rem;
}

/* CARDS */

.home .card {
    background: transparent !important;
    border: none;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    width: 100%;
}


.home .card-img,
.home .card-body-text {
    width: 50%; 
}

.home .card-img img {
    width: 100%;
    height: auto;
}

.home .card-body-text,
.home .card-text title,
.home .card-text,
.home .contact-card-text
{
    width: 100%;
    color: #fbfbfb;
    font-size: large;
    padding-left: 1rem;
}

.title{
    font-size: larger;
    font-weight: bolder;
}

.card-text,
.contact-card-text
{
    -webkit-text-stroke: 0.2px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home .contact-card-text{
    padding: 1rem;
}


/*FORM*/

.home .card-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home .contact-text{
    align-self: baseline;
    padding-top: 5rem;
}

.home .contact-card-body{
    width: 100%;
    height: 100%;
}

.home .form-inputs{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.home .form-label{
    color: #c7c7c7;
    font-size: larger;
}

.home .form-control{
    background: transparent;
    color: #c7c7c7;
}

.home .btn{
    margin-top: 2rem;
}



.home .card,
.home .card-body,
.home .card > .row,
.home .card > .row > [class*="col-"] {
    background: transparent;
    border: none;
    box-shadow: none;
    padding-bottom: 1rem;
}


/* TABLET */

@media (min-width: 768px) {
    
    .caption-content {
        padding: 4rem;
    }

    .home.snap-container {
    scroll-snap-type: y mandatory;
    }

    .home .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 3rem;
    }

    .title{
        padding-top: 3rem;
    }

    .home .card-body-text{
        padding-left: 0;
        align-self: center;
    }

    .about{
        padding-top: 2rem;
    }
}


/* DESKTOP */
@media (min-width: 1024px){
    
}