.navbar {
    min-height: 6rem;
}

.navbar.nav-background {
    background-color: #000;
    background-image: url("/imgs/bannerBackground2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar .bannerLogo {
    height: 5rem;
}

/* Links */
.navbar .nav-link {
    color: #d7d7d7;
}

.navbar .nav-link:hover {
    color: white;
}

.navbar .nav-link.active {
    color: white;
}