.navbar {
    min-height: 6rem;
}

.navbar.nav-background {
    background-color: #000;
    background-image: url("/imgs/bannerBackground2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar .bannerLogo {
    height: 5rem;
}

/* Links */
.navbar .nav-link,
.navbar .nav-link:focus,
.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: white !important;
}

.navbar .dropdown-menu{
    background-color: transparent;
}

.navbar .dropdown-item{
    color: #c7c7c7;
    
}
.dropdown-item:hover {
    background-color: #7100c257; /* blanco/gris claro */
}
