@page "/game"
@inject IJSRuntime JS

<div class="game-container">
    <iframe src="/unity/index.html" 
            class="game-iframe"
            allow="fullscreen; autoplay; gamepad" 
            allowfullscreen="true"
        webkitallowfullscreen="true"
        mozallowfullscreen="true"
            scrolling="no">
    </iframe>
    

    
    
    @* Usamos @onclick de Blazor para llamar a la función de JS *@
    <button class="btn-fullscreen" onclick="window.openFullscreen()">
        🎮 Full Screen
    </button>
</div>

@code {
    private async Task HandleFullscreen()
    {
        await JS.InvokeVoidAsync("openFullscreen");
    }
}