@using MeteorWebApp.Models
@using MeteorWebApp.Services
@using System.ComponentModel.DataAnnotations

@page "/"
@rendermode InteractiveServer



<div class="home snap-container">

    <!-- LANZAMIENTOS -->
    <section id="lanzamientos" class="snap-section ">
        
        <div id="carouselExampleAutoplaying"
             class="carousel carousel-dark slide container-fluid p-0 m-0"
             data-bs-ride="carousel">

            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2"></button>
            </div>

            <div class="carousel-inner">

                <!-- SLIDE -->
                <div class="carousel-item active">
                        <div class=" carousel-img-wrapper">
                        <a href="/product/1">
                            <img src="/imgs/imgInfinite.png"
                                 class="carousel-img-wrapper img "
                                 alt="">
                        </a>
                        </div>

                    <div class="carousel-caption custom-caption">
                        <div class="caption-content text-start">
                            <h5 class="fw-bold fs-5 fs-md-1 mb-2 card-text fs-6 product-description">
                                Artistas capaces
                            </h5>

                            <p class="d-none d-sm-block fs-6 fs-md-3 lh-sm lh-md-base mb-0 card-text fs-6 product-description">
                                This is a long paragraph written to show how the line-height
                                of an element is affected.
                                This is a long paragraph written to show how the line-height
                                of an element is affected.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- SLIDE -->
                <div class="carousel-item">
                    <div class=" carousel-img-wrapper ">
                        <a href="/product/2">
                            <img src="/imgs/imgLiteratubers.png"
                                 class="carousel-img-wrapper img"
                                 alt="">

                        </a>
                    </div>

                    <div class="carousel-caption custom-caption">
                        <div class="caption-content text-start">
                            <h5 class="fw-bold fs-5 fs-md-1 mb-2 card-text fs-6 product-description">
                                Artistas capaces
                            </h5>

                            <p class="d-none d-sm-block fs-6 fs-md-3 lh-sm lh-md-base mb-0 card-text fs-6 product-description">
                                This is a long paragraph written to show how the line-height
                                of an element is affected.
                                This is a long paragraph written to show how the line-height
                                of an element is affected.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- SLIDE -->
                <div class="carousel-item">
                    <a href="/article/1">
                        <div class="carousel-img-wrapper">
                            <img src="/imgs/imgCarrusel3.png"
                                 class="carousel-img-wrapper img"
                                 alt="">
                        </div>

                    </a>

                    <div class="carousel-caption custom-caption">
                        <div class="caption-content text-start">
                            <h5 class="fw-bold fs-5 fs-md-1 mb-2 card-text fs-6 product-description">
                                Artistas capaces
                            </h5>

                            <p class="d-none d-sm-block fs-6 fs-md-3 lh-sm lh-md-base mb-0 card-text fs-6 product-description">
                                This is a long paragraph written to show how the line-height
                                of an element is affected.
                                This is a long paragraph written to show how the line-height
                                of an element is affected.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>

            <button class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>

        </div>

    </section>

    <!-- ABOUT -->
    <section id="about" class="snap-section ">

        <!-- INFO -->
        <div class="card ">
            <div class="row g-0 align-items-center">

                <!-- LOGO -->
                <div class="col-12 col-md-4 d-flex justify-content-center py-4 py-md-0">
                    <img src="/imgs/logo.png"
                         class="img-fluid w-50 w-md-75"
                         alt="Meteor Craftworks logo">
                </div>

                <!-- TEXTO -->
                <div class="col-12 col-md-8">
                    <div class="card-body">

                        <h2 class="text-center fw-bold fs-3 fs-md-1 mb-4 card-text fs-6 product-description">
                            About us
                        </h2>

                        <p class="card-text fs-6 product-description fs-md-3 lh-base">
                            Meteor Craftwork’s team is composed of talented young man dedicated to the making of stunning and trasdcendental works of art that inspire generations just as we have been inspired by who came before us.
                        </p>

                    </div>
                </div>

            </div>
        </div>

        <!-- DEVS -->
        <div class="card custom-caption">
            <div class="card-body">
                <div class="row row-cols-1 row-cols-md-3 g-4">

                    <!-- DEV -->
                    <div class="col ">
                        <div class="card h-100">
                            <div class="row g-0 h-100 align-items-center">

                                <div class="col-4 col-md-4 d-flex justify-content-center">
                                    <img src="/imgs/pic-angry.png"
                                         class="img-fluid w-75 rounded">
                                </div>

                                <div class="col-8 col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-text fs-6 fs-md-5 product-description">
                                            Lucas Angriman
                                        </h5>
                                        <p class="card-text fs-6 product-description">
                                            Team Leader<br />
                                            3d Artist<br />
                                            VFX Expert
                                        </p>
                                        <small class="card-text fs-6 product-description">
                                            Art Director and Producer
                                        </small>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- DEV -->
                    <div class="col">
                        <div class="card h-100">
                            <div class="row g-0 h-100 align-items-center">

                                <div class="col-4 col-md-4 d-flex justify-content-center">
                                    <img src="/imgs/pic-lulo.png"
                                         class="img-fluid w-75 rounded">
                                </div>

                                <div class="col-8 col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-text fs-6 product-description">
                                            Julian Bridi
                                        </h5>
                                        <p class="card-text fs-6 product-description">
                                            Team Coordinator<br />
                                            Game Designer<br />
                                            Public Relationships
                                        </p>
                                        <small class="card-text fs-6 product-description">
                                            CEO & General Producer
                                        </small>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- DEV -->
                    <div class="col">
                        <div class="card h-100">
                            <div class="row g-0 h-100 align-items-center">

                                <div class="col-4 col-md-4 d-flex justify-content-center">
                                    <img src="/imgs/pic-yo.png"
                                         class="img-fluid w-75 rounded">
                                </div>

                                <div class="col-8 col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-text fs-6 product-description">
                                            Ignacio Garcés 
                                        </h5>
                                        <p class="card-text fs-6 product-description">
                                            Sound Designer<br />
                                            Game Development<br />
                                            Product Coordinator
                                        </p>
                                        <small class="card-text fs-6 product-description">
                                            COO & Programmer
                                        </small>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- DEV -->
                    <div class="col ">
                        <div class="card h-100">
                            <div class="row g-0 h-100 align-items-center">

                                <div class="col-4 col-md-4 d-flex justify-content-center">
                                    <img src="/imgs/pic-mati.png"
                                         class="img-fluid w-75 rounded">
                                </div>

                                <div class="col-8 col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-text fs-6 product-description">
                                            Matias Somma
                                        </h5>
                                        <p class="card-text fs-6 product-description">
                                            Game Developer<br />
                                            Asset Implementation<br />
                                            Mechanic Engineer
                                        </p>
                                        <small class="card-text fs-6 product-description">
                                            Programmer
                                        </small>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- DEV -->
                    <div class="col">
                        <div class="card h-100">
                            <div class="row g-0 h-100 align-items-center">

                                <div class="col-4 col-md-4 d-flex justify-content-center">
                                    <img src="/imgs/pic-valen.png"
                                         class="img-fluid w-75 rounded">
                                </div>

                                <div class="col-8 col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-text fs-6 product-description">
                                            Valentin Quetto
                                        </h5>
                                        <p class="card-text fs-6 product-description">
                                            Character Design and Model<br />
                                            Character Animations<br />
                                            Inorganic Modeling
                                        </p>
                                        <small class="card-text fs-6 product-description">
                                            3D Artist & Animator
                                        </small>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- DEV -->
                    <div class="col">
                        <div class="card h-100">
                            <div class="row g-0 h-100 align-items-center">

                                <div class="col-4 col-md-4 d-flex justify-content-center">
                                    <img src="/imgs/pic-valen.png"
                                         class="img-fluid w-75 rounded">
                                </div>

                                <div class="col-8 col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-text fs-6 product-description">
                                            Julieta Mayorga Alvarez
                                        </h5>
                                        <p class="card-text fs-6 product-description">
                                            Ilustration<br />
                                            Texturing
                                        </p>
                                        <small class="card-text fs-6 product-description">
                                            2D Artist
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- DEV -->
                    <div class="col">
                        <div class="card h-100">
                            <div class="row g-0 h-100 align-items-center">

                                <div class="col-4 col-md-4 d-flex justify-content-center">
                                    <img src="/imgs/pic-valen.png"
                                         class="img-fluid w-75 rounded">
                                </div>

                                <div class="col-8 col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-text fs-6 product-description">
                                            Arón Nievas
                                        </h5>
                                        <p class="card-text fs-6 product-description">
                                            Musicalization<br />
                                            Content Creation
                                        </p>
                                        <small class="card-text fs-6 product-description">
                                            Musician & CM
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- DEV -->
                    <div class="col">
                        <div class="card h-100">
                            <div class="row g-0 h-100 align-items-center">

                                <div class="col-4 col-md-4 d-flex justify-content-center">
                                    <img src="/imgs/pic-valen.png"
                                         class="img-fluid w-75 rounded">
                                </div>

                                <div class="col-8 col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-text fs-6 product-description">
                                            Guido Colonna
                                        </h5>
                                        <p class="card-text fs-6 product-description">
                                            Documentation<br />
                                            Feature Design<br />
                                            Game Testing
                                        </p>
                                        <small class="card-text fs-6 product-description">
                                            Game Designer
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

    </section>

    <!-- CONTACTO -->
    <section id="contacto" class="snap-section ">

        <div class="card mb-3" style="max-width: 1920px;">
            <div class="row g-0">

                <!-- TEXTO -->
                <div class="col-12 col-md-5 d-flex align-items-center">
                    <div class="card-body">
                        <h2 class="fw-bold fs-3 fs-md-1 mb-4 card-text fs-6 product-description">
                            Contactanos
                        </h2>

                        <p class="lh-base fs-6 fs-md-4 mb-0 card-text fs-6 product-description">
                            ¿Tenés un proyecto en mente?<br>
                            Nos especializamos en transformar ideas en experiencias visuales únicas.
                        </p>
                    </div>
                </div>

                <!-- FORM -->
                <div class="col-12 col-md-7 p-4">

                    <EditForm Model="form"
                              OnValidSubmit="EnviarFormulario"
                              FormName="contactForm"
                              Enhance="true">

                        <DataAnnotationsValidator />
                        <ValidationSummary class="text-danger mb-3" />

                        <div class="mb-3 card-text fs-6 product-description">
                            <label class="form-label">Nombre</label>
                            <InputText @bind-Value="form.Nombre" name="Nombre"
                                       class="form-control form-control-lg" />
                        </div>

                        <div class="mb-3 card-text fs-6 product-description">
                            <label class="form-label">Email</label>
                            <InputText @bind-Value="form.Email"
                                       name="Email"
                                       type="email"
                                       class="form-control form-control-lg" />
                        </div>

                        <div class="mb-4 card-text fs-6 product-description">
                            <label class="form-label">Mensaje</label>
                            <InputTextArea @bind-Value="form.Mensaje"
                                            name ="Mensaje"
                                           class="form-control form-control-lg"
                                           rows="4" />
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="submit"
                                    class="btn btn-outline-light btn-lg px-5"
                                    disabled="@enviando">
                                @(enviando ? "Enviando..." : "Enviar")
                            </button>
                        </div>

                    </EditForm>

                    @if (enviado)
                    {
                        <div class="alert alert-success mt-3">
                            ¡Gracias! Tu mensaje fue enviado correctamente.
                        </div>
                    }
                </div>

            </div>
        </div>

        <!--FOOTER-->
        <footer class="contact-footer">
            <span class="footer-title">FOLLOW US</span>

            <div class="social-icons">
                <a href="https://www.instagram.com/meteor_craftwork" target="_blank" aria-label="Instagram">
                    <i class="bi bi-instagram"></i>
                </a>

                <a href="https://www.facebook.com/profile.php?id=61574530960294" target="_blank" aria-label="Facebook">
                    <i class="bi bi-facebook"></i>
                </a>

                <a href="https://www.linkedin.com/company/meteorcraftwork/?viewAsMember=true" target="_blank" aria-label="LinkedIn">
                    <i class="bi bi-linkedin"></i>
                </a>

                <a href="https://discord.com/invite/bY4T7QxtyJ" target="_blank" aria-label="Discord">
                    <i class="bi bi-discord"></i>
                </a>
                <a href="https://www.artstation.com/meteorcraftwork" target="_blank" aria-label="ArtStation" class="artstation-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                        <path d="M2.5 18.6l1.4 2.4h16.4l1.4-2.4H2.5zm9.7-15L7.2 15.2h9.6L12.2 3.6zm2.3 11.6l-2.3-4-2.3 4h4.6z" />
                    </svg>
                </a>
               
            </div>
        </footer>
    </section>

</div>


@inject IJSRuntime JS
@inject NavigationManager Nav

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        await JS.InvokeVoidAsync("initActiveSections");
        await JS.InvokeVoidAsync("enableNavScroll");
        await JS.InvokeVoidAsync("scrollToHash");
        }
    }

    protected override void OnInitialized()
    {
        Nav.LocationChanged += OnLocationChanged;
    }

    private async void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        await JS.InvokeVoidAsync("scrollToHash");
    }

    public void Dispose()
    {
        Nav.LocationChanged -= OnLocationChanged;
    }
}

@code {
    private ContactFormModel form = new();
    private bool enviando = false;
    private bool enviado = false;

    [Inject]
    private IEmailService EmailService { get; set; } = default!;

    private async Task EnviarFormulario()
    {
        enviando = true;
        enviado = false;

        try
        {
            await EmailService.SendAsync(form);
            enviado = true;
            form = new ContactFormModel();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
        finally
        {
            enviando = false;
            StateHasChanged();
        }
    }
}

