@page "/Infinite"
@rendermode InteractiveServer

<PageTitle>Infinite</PageTitle>

<nav id="mainNavbar" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top py-1">
    <div class="container-fluid">

        <a class="navbar-brand mb-0 h1" href="/">
            METEOR CRAFTWORKS
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#lanzamientos">Lanzamientos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">Devs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacto">Contacto</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<section id="lanzamientos" class="pt-5 mt-5">

    <div id="carouselExampleAutoplaying"
         class="carousel carousel-dark slide"
         data-bs-ride="carousel">

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2"></button>
        </div>

        <!-- CAROUSEL -->
        <div class="carousel-inner">

            <!-- SLIDE -->
            <div class="carousel-item active">
                
                <div class="ratio ratio-21x9">
                    <img src="/imgs/imgCarrusel2.png"
                         class="d-block w-100 object-fit-cover"
                         alt="">
                         
                </div>

                <div class="carousel-caption text-start
                            px-3 px-md-5
                            pb-3 pb-md-5">

                    <h5 class="fw-bold fs-5 fs-md-1 mb-2">
                        Artistas capaces
                    </h5>

                    <p class="d-none d-sm-block fs-6 fs-md-3 lh-sm lh-md-base">
                        This is a long paragraph written to show how the line-height
                        of an element is affected.
                    </p>
                </div>
            </div>

            <!-- SLIDE -->
            <div class="carousel-item">
                <div class="ratio ratio-21x9">
                    <img src="/imgs/imgCarrusel1.png"
                         class="d-block w-100 object-fit-cover"
                         alt="">
                </div>

                <div class="carousel-caption text-start
                            px-3 px-md-5
                            pb-3 pb-md-5">

                    <h5 class="fw-bold fs-5 fs-md-1 mb-2">
                        Del concepto a la implementación
                    </h5>

                    <p class="d-none d-sm-block fs-6 fs-md-3 lh-sm lh-md-base">
                        Hacemos de lo imposible algo real y tangible.
                    </p>
                </div>
            </div>

            <!-- SLIDE -->
            <div class="carousel-item">
                <div class="ratio ratio-21x9">
                    <img src="/imgs/imgCarrusel3.png"
                         class="d-block w-100 object-fit-cover"
                         alt="">
                </div>

                <div class="carousel-caption text-start
                            px-3 px-md-5
                            pb-3 pb-md-5">

                    <h5 class="fw-bold fs-5 fs-md-1 mb-2">
                        Diseños y atmósferas
                    </h5>

                    <p class="d-none d-sm-block fs-6 fs-md-3 lh-sm lh-md-base">
                        Storytelling y ambientación de alto nivel.
                    </p>
                </div>
            </div>

        </div>

        <button class="carousel-control-prev" type="button"
                data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>

        <button class="carousel-control-next" type="button"
                data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>

    </div>

</section>