@using MeteorWebApp.Models
@using MeteorWebApp.Services
@inject IEmailService EmailService

@page "/Infinite"
@rendermode InteractiveServer

<PageTitle>Infinite</PageTitle>

<!-- NAVBAR -->
<nav id="mainNavbar" class="navbar navbar-expand-md fixed-top nav-background">
    <div class="container-fluid">

        <a href="#">
            <img src="/imgs/bannerLogo.png" class="bannerLogo" alt="Alternate Text" />
        </a>

        <button class="navbar-toggler active"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#lanzamientos">Lanzamientos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">Devs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacto">Contacto</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<section id="infinite" class="pt-5 mt-5">

    
</section>